<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.google_site_verification %}
      <meta name="google-site-verification" content="{{ page.google_site_verification }}">
    {% endif %}

    <!-- Feuille de style simple, propre et responsive -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  </head>
  <body>
    <main class="container">
      {{ content }}
    </main>
  </body>
</html>
